@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('../fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('../fonts/Raleway-SemiBold.ttf');
}

body,
body * {
    padding: 0;
    margin: 0;
    font-family: "Raleway", Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    margin: 20px auto;
    font-size: 30px;
    font-family: "Raleway-SemiBold", sans-serif;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 3px #696969;
}

h2 {
    margin: 0 8px 14px 0;
    padding: 0;
    color: #FFF;
    text-shadow: 1px 1px 3px #696969;
}

h3 {
    margin: 20px 0;
    font-size: 46px;
    font-family: "Raleway-SemiBold";
}

.wa__forecast h3 {
    padding: 0 1rem;
}

h4 {
    margin: 0;
    font-family: "Raleway-SemiBold";
    font-size: 42px;
}

.wa__forecast h4 {
    font-size: 36px;
}

h5 {
    margin: 16px 0 10px;
    min-height: 75px;
    font-size: 19px;
    font-family: "Raleway";
    line-height: 25px;
}

h6 {
    margin: 0 0 10px;
    font-size: 20px;
    font-family: "Raleway-SemiBold";
}

.wa__forecast h6 {
    min-height: 48px;
}

.weather__app {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(226, 226, 226);
    background: linear-gradient(69deg, rgba(226, 226, 226, 1) 0%, rgba(107, 107, 107, 1) 100%);
}

.weather__app__content {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 5%;
    display: grid;
    grid-template-columns: min(55%) min(45%);
    background-color: #FFF;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.wa__side {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
}

.wa__side--wide {
    background-repeat: no-repeat;
    background-size: cover;
}

.wa__overlay--darken {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.wa__wide__inner__container {
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
}

.wa__wide__top__container {
    flex: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.wa__current {
    padding: 0 1rem;
}

.wa__current__location {
    min-width: 240px;
    padding: 10px 14px;
    align-self: flex-end;
    background: rgba(0, 0, 0, 0.25);
    color: #FFF;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.wa__current__location--icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8px;
}

.wa__current__location--icon-container img {
    width: 24px;
}

.wa__current__location--text-container p {
    margin: 2px 0;
    padding: 0;
}

.wa__current__location--text-container p:nth-of-type(2) {
    font-family: "Raleway-SemiBold";
    font-size: 18px;
    min-height: 21px;
}

.wa__wide__mid__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wa__wide__mid__container hr {
    width: 100%;
    max-width: 160px;
    height: 8px;
    border: none;
    border-radius: 10px;
    background-color: #FFF;
}

.wa__location__input__container {
    margin: 20px auto;
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.wa__location__input {
    flex: 1;
    max-width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    border-radius: 20px;
    overflow: hidden;
}

.wa__location__input:focus-visible {
    outline-offset: 0px;
}

.wa__location__button {
    margin-left: -56px;
    padding: 12px 36px;
    background: #7f8ff4;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 0;
    outline: 0;
    transition: all .4s ease-in;
    cursor: pointer;
    font-family: "Raleway-Light";
    font-size: 18px;
    align-self: center;
}

.wa__location__button:hover {
    background: #6c7ff2;
}

.wa__location__button:active {
    background: #7f8ff4;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.wa__side--content {
    padding: 3rem 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wa__side--section {
    max-width: 100%;
}

.wa__card {
    max-height: 310px;
}

.wa__card--row {
    max-width: 160px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.wa__card--shadow {
    padding: 1.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px;
}

.wa__forecast .wa__card--shadow {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 6px;
}

.wa__card--large {
    width: 100%;
    margin: 2rem auto;
}

.wa__card--inner {
    padding: 10px;
}

.wa__card--conditions {
    flex: 2;
    max-height: 310px;
    overflow-y: scroll;
}

.wa__card--temp {
    font-family: "Raleway-SemiBold";
    font-size: 42px;
}

.symbol--degree:after {
    content: "\00B0";
}

.wa__card--condition-container {
    width: 100%;
    margin: 20px 0 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.wa__card [data-icon] {
    max-width: 40px;
    align-self: center;
}

.wa__card--vertical-line {
    width: 4px;
    background-color: #a3a3a3;
    border-radius: 10px;
    margin: 0 10px;
}

.wa__card--details {
    flex: 1.5;
}

.wa__card--details-text {
    margin: 0 0 8px;
    font-family: "Raleway";
}

.wa__card--details-text span {
    font-family: "Raleway-SemiBold";
}

.forecast__slides.glide__slides {
    padding: 10px 3px;
    overflow: hidden;
}

.forecast__track {
    width: calc(100% - 2rem);
    margin: 0 auto;
}

.glide__arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.glide__arrow {
    font-size: 2rem;
    line-height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 6px;
    border-radius: 50%;
    padding: 0 10px 5px;
    background-color: #FFF;
}

@media only screen and (max-width: 1200px) {
    .weather__app__content {
        height: 90%;
        top: 5%;
        grid-template-columns: 100%;
        grid-template-rows: min(55%) min(45%);
    }

    .wa__side--content {
        padding: 2rem 1rem 2rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .wa__side--section {
        max-width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    .weather__app__content {
        height: 98%;
        width: 96%;
        top: 1%;
        left: 2%;
        grid-template-rows: minmax(370px, auto) minmax(500px, auto);
        overflow-y: scroll;
    }

    .wa__side--content {
        padding: 1rem;
        justify-content: flex-start;
    }

    .wa__side--section {
        width: 100%;
        max-width: 100%;
    }

    .wa__card {
        max-height: 100%;
    }

    .wa__card--large {
        margin: 1rem auto 0;
    }

    .wa__forecast {
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .wa__current__location {
        margin: 0 auto;
    }

    .wa__side {
        padding: 1rem;
        flex-wrap: nowrap;
    }

    .wa__side--content {
        flex-wrap: wrap;
    }

    .wa__current {
        padding: 0.5rem;
    }
}